In [1]:
import pandas as pd
import dask.dataframe as dd

charFile = '../Characteristics_Final.csv'
char = dd.read_csv(charFile, blocksize ="1000MB");

In [2]:
char.head(20)
char = char.drop(['product_id'], axis=1);

In [3]:
char.head(20)

    review_id                                             result
0           1  {"name": "Fit", "characteristic_id": 1, "value...
1           1  {"name": "Length", "characteristic_id": 2, "va...
2           1  {"name": "Comfort", "characteristic_id": 3, "v...
3           1  {"name": "Quality", "characteristic_id": 4, "v...
4           2  {"name": "Fit", "characteristic_id": 1, "value...
5           2  {"name": "Length", "characteristic_id": 2, "va...
6           2  {"name": "Comfort", "characteristic_id": 3, "v...
7           2  {"name": "Quality", "characteristic_id": 4, "v...
8           3  {"name": "Quality", "characteristic_id": 5, "v...
9           4  {"name": "Quality", "characteristic_id": 5, "v...
10          5  {"name": "Quality", "characteristic_id": 5, "v...
11          6  {"name": "Quality", "characteristic_id": 5, "v...
12          7  {"name": "Quality", "characteristic_id": 5, "v...
13          8  {"name": "Fit", "characteristic_id": 10, "valu...
14          8  {"name": "Length", "characteristic_id": 11, "v...
15          8  {"name": "Comfort", "characteristic_id": 12, "...
16          8  {"name": "Quality", "characteristic_id": 13, "...
17          9  {"name": "Fit", "characteristic_id": 10, "valu...
18          9  {"name": "Length", "characteristic_id": 11, "v...
19          9  {"name": "Comfort", "characteristic_id": 12, "...

In [ ]:
char = char.groupby(["review_id"])["result"].apply(list)
type(char)

In [1]:
char.compute();
char.to_csv("Characteristics_final.csv", index=False, quoting=csv.QUOTE_NONE)